<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="demo">
		<span>数值a</span>
		<input type="text" v-model="a">
		
		<span>数值b</span>
		<input type="text" v-model="b">
		
		<button @click="calculate">计算</button>
		<h1 v-text="result"></h1>
	</div>
	<script src="./js/vue.js"></script>
	<script>
		var vm = new Vue({
			el: '#demo',
			data: {
				a: '',
				b: '',
				result: ''
			},
			methods: {
				calculate: function(){
					this.result = this.a + this.b;
				}
			}
		});
	</script>
</body>
</html>